$max-width: 1920px;
$text-color: #fff;
$background: linear-gradient(#0069e3, #0056ba);

$spider-man-616-height: 360px;
$spider-woman-65-height: 300px;
$spide-man-1610-height: 324px;
$spide-han-8311-height: 146px;
$spide-man-90214-height: 376px;
$spide-man-928-height: 360px;
